<div id="overlay"></div>
<nav class="navbar fx space">
  <div class="nav-bars fx-grow"><i class="fa fa-bars"></i></div>
  <div class="nav-logo fx-grow"> <span class="logo-content">Crowd Engagement</span> </div>
  <div class="nav-links">
    <div class="nav-link"><a href="/about"> About </a></div>
    <% if(user){ %>
      <div class="nav-link"><a href="/profile"> Profile </a></div>
      <div class="nav-link"><a href="/logout"> Logout </a></div>
    <% } else { %>
      <div class="nav-link"><a href="/login"> Login </a></div>
      <div class="nav-link"><a href="/signup"> Signup </a></div>
    <% } %>
  </div>
</nav>


