<!-- login.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include partials/head  %>

  <!-- all page specific styles go here -->
  <title>Loud Crowd</title>
  <link rel="stylesheet" type="text/css" href="/styles/about.css">

</head>
<body>
  <%- include partials/nav %>

<div class="aboutpage">
  <h1>ABOUT</h1>
  <p class="aboutapp">Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>

  <div class="aboutus">
    <div class="profile">
      <img src="/images/jamila.jpg" class="profilepics">
      <h2>Jamila</h2>
      <p>a bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
    </div>

    <div class="profile">
      <img src="/images/marcellino.jpg" class="profilepics">
      <h2>Marcellino</h2>
      <p>a bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
    </div>

    <div class="profile">
      <img src="/images/lamberto.jpg" class="profilepics">
      <h2>Lamberto</h2>
      <p>a bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
    </div>
  </div

</div>

</body>
</html>
