<!-- login.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include partials/head  %>

  <!-- all page specific styles go here -->
  <title>Loud Crowd</title>
  <link rel="stylesheet" type="text/css" href="/styles/about.css">

</head>
<body>
  <%- include partials/nav %>

<div class="aboutpage">
  <h1>ABOUT</h1>
  <p class="aboutapp">Loud Crowd is an app to show real time engagement of a crowd. When you sign up you can create events with a link you can send to your audience. You can set your own rating scale and each person with the event's link will be able to add their rating and change it throughout the event. Each time someone votes or updates their vote, the overall score of the evetn will change and the background color of the page will reflect the crowd sentiment with red being hot (suepr engaging event) and blue being cold (not engaging at all). The final score for the event will be shown on your profile page.</p>

  <div class="aboutus">
    <div class="profile">
      <img src="/images/jamila.jpg" class="profilepics">
      <h1>Jamila</h1>
      <p>a bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
      <a href="https://github.com/jamilaleilani" class="profilelink"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/jamilakeba/" class="profilelink"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </div>

    <div class="profile">
      <img src="/images/marcellino.jpg" class="profilepics">
      <h1>Marcellino</h1>
      <p>a bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
      <a href="https://github.com/marcellino-ornelas" class="profilelink"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/marcellino-ornelas/" class="profilelink"><i class="fa fa-linkedin" aria-hidden="true"></i></a>

    </div>

    <div class="profile">
      <img src="/images/lamberto.jpg" class="profilepics">
      <h1>Lamberto</h1>
      <p>a bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
      <a href="https://github.com/bigbertolucci/" class="profilelink"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/lambertoasghedom/" class="profilelink"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </div>
  </div

</div>

</body>
</html>
