<!-- login.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include partials/head  %>

  <!-- all page specific styles go here -->
  <title>Loud Crowd</title>
  <link rel="stylesheet" type="text/css" href="/styles/about.css">

</head>
<body>


  <%- include partials/nav %>

  <%- include partials/messages %>

<div class="aboutpage">
  <h1>ABOUT</h1>
  <p class="aboutapp">Loud Crowd is an app to show real time engagement of a crowd. When you sign up you can create events with a link you can send to your audience. You can set your own rating scale and each person with the event's link will be able to add their rating and change it throughout the event. Each time someone votes or updates their vote, the overall score of the evetn will change and the background color of the page will reflect the crowd sentiment with red being hot (suepr engaging event) and blue being cold (not engaging at all). The final score for the event will be shown on your profile page.</p>

  <div class="aboutus">
    <div class="profile">
      <img src="/images/jamila.jpg" class="profilepics">
      <h1>Jamila</h1>
      <p>Jamila is a developer with an appreciation and eye for design. Raised in San Francisco's Mission District, she is always on a quest to learn new skills and find more ways to be creative. She writes code and makes art for the same reason, to create beautiful things.</p>
      <a href="https://github.com/jamilaleilani" class="profilelink"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/jamilakeba/" class="profilelink"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </div>

    <div class="profile">
      <img src="/images/marcellino.jpg" class="profilepics">
      <h1>Marcellino</h1>
      <p>Marcellino is a fast learning, web developer, who is outgoing, loves to tackle new challenges, and has a passion to learn new material. Before joining General Assembly, he taught himself full stack web development in javascript/node.js.</p>
      <a href="https://github.com/marcellino-ornelas" class="profilelink"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/marcellino-ornelas/" class="profilelink"><i class="fa fa-linkedin" aria-hidden="true"></i></a>

    </div>

    <div class="profile">
      <img src="/images/lamberto.jpg" class="profilepics">
      <h1>Lamberto</h1>
      <p>Lamberto is a web developer that has knowledge of both front-end and back-end frameworks and languages. He is also easy to work with and because of his education background, he loves collaborating in diverse team environments where different ideas are being shared.</p>
      <a href="https://github.com/bigbertolucci/" class="profilelink"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/lambertoasghedom/" class="profilelink"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </div>
  </div>

</div>

</body>
</html>
