<!-- landingpage.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include partials/head  %>

  <title>Loud Crowd</title>
  <link rel="stylesheet" type="text/css" href="/styles/landingpage.css">

</head>
<body id="body">

  <%- include partials/nav %>

  <%- include partials/messages  %>

  <h1>loud crowd</h1>
  <h2 class="landingpageh2">an app to show real time engagement during events</h2>
  <div class="myform">
    <h2>signup to add an event</h2>
    <form method="POST" action="/" class="forms">
      <div>
        <input type="text" name="name" class="checkForError formdiv" placeholder="Name">
        <p class="errorMessage">Please enter your name</p>
      </div>
      <div>
        <input type="text" name="username" class="checkForError formdiv" placeholder="Username">
        <p class="errorMessage">Please enter a username</p>
      </div>
      <div>
        <input type="password" name="password" class="checkForError formdiv" placeholder="Password">
        <p class="errorMessage">Please enter a password</p>
      </div>
      <div>
        <input type="submit" value="sign up" class="button formdiv submit">
      </div>
    </form>
  </div>

</body>
</html>
