<!-- landingpage.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include partials/head  %>

  <title>Loud Crowd</title>
  <link rel="stylesheet" type="text/css" href="/styles/landingpage.css">

</head>
<body id="body">
  <!-- <nav id="topnav">
    <div>
      <a href="/about">about</a>
    <% if(!user) { %>
      <a href="/">sign up</a>
    </div>
    <div>
      <a href="/login">log in</a>
      <% } else { %>
      <a href="/logout">Log out</a>
    </div>
    <% } %>
  </nav> -->

  <%- include partials/nav %>

  <h1>loud crowd</h1>
  <h2 class="landingpageh2">an app to show real time engagement during events</h2>
  <div class="myform">
    <h2>signup to add an event</h2>
    <form method="POST" action="/">
      <input type="text" name="username" class="" placeholder="Username">
      <input type="password" name="password" class="" placeholder="Password">
      <input type="submit" placeholder="sign up" class="button">
    </form>
  </div>

</body>
</html>
