<!-- landingpage.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- set viewport to device width to make site responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Knewave|Varela+Round" rel="stylesheet">

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <link rel="stylesheet" type="text/css" href="/styles/landingpage.css">
  <script type="text/javascript" src="/scripts/app.js"></script>
  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <title>Loud Crowd</title>
</head>
<body>
  <nav>
    <div>
      <a href="/about">about</a>
    <% if(!user) { %>
      <a href="/">sign up</a>
    </div>
    <div>
      <a href="/login">log in</a>
      <% } else { %>
      <a href="/logout">Log out</a>
    </div>
    <% } %>
  </nav>

  <h1>loud crowd</h1>
  <h2>an app to show real time engagement during events</h2>
  <div class="myform">
    <h2>signup to add an event</h2>
    <form method="POST" action="/">
      <input type="text" name="username" class="" placeholder="Username">
      <input type="password" name="password" class="" placeholder="Password">
      <input type="submit" placeholder="sign up" class="button">
    </form>
  </div>

</body>
</html>
