<!-- login.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>

  <%- include partials/head  %>

  <!-- all page specific styles go here -->
  <title>Loud Crowd</title>
  <link rel="stylesheet" type="text/css" href="/styles/login.css">

</head>
<body>

  <!-- <nav id="loginnav">
    <a href="/" class="navlogo">loud crowd</a>
  </nav> -->

  <!-- new nav -->
  <%- include partials/nav %>


  <div class="myform loginform">
    <h2>Login</h2>
    <form method="POST" action="/login">
      <input type="text" name="username" class="" placeholder="Username">
      <input type="password" name="password" class="" placeholder="Password">
      <input type="submit" class="button">
    </form>
  </div>

</body>
</html>
