<!-- index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- set viewport to device width to make site responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- custom styles -->
  <!-- <link rel="stylesheet" type="text/css" href="/styles/style.css"> -->
  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <title>Loud Crowd</title>
</head>
<body>
  <nav>
    <a href="/">loud crowd</a>
  </nav>

  <div>
    <h2>Login</h2>
    <form method="POST" action="/login">
      <input type="text" name="username" class="" placeholder="Username">
      <input type="password" name="password" class="" placeholder="Password">
      <input type="submit">
    </form>
  </div>

</body>
</html>
