* {
  font-family: 'Varela Round', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  letter-spacing: .09em;
  line-height: 1.5em;
  box-sizing: border-box;
}

html,body{
  min-width: 100%;
  min-height: 100%;
}

/*nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 3.2em;
  align-items: center;
}*/

a {
  color: black;
  text-decoration: none;
  padding: 0 1.5em 0 1.5em;
  font-size: 1.4em;
  font-weight: 700;
}

.navlogo {
  margin: 0 auto;
  font-family: Knewave;
  font-size: 1.8em;
  background-image: -webkit-linear-gradient(to right, rgb(0,0,255), rgb(255,0,0));
  background-image: linear-gradient(to right, rgb(0,0,255), rgb(255,0,0));
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

h2 {
  color: white;
  text-align: center;
  font-size: 1.2em;
}

/* FORM */

.myform {
  margin: 2em auto;
  width: 40em;
}

.myform h2 {
  color: rgb(0, 210, 230);
  text-transform: uppercase;
  font-size: 1.6em;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: .7em;
  margin: .5em;
  border: none;
}

.button {
  background-color: rgb(0, 210, 230);
  text-transform: uppercase;
  color: white;
  font-weight: 900;
}

@media only screen and (max-width: 700px) {

  a {
      padding: 0 .7em 0 .7em;
  }

  .navlogo {
    display: none;
  }

  .myform h2 {
    font-size: 1.4em;
  }

  .myform {
    width: 91.5%;
  }

}

a, button, .logo-content, i{
  cursor: pointer;
}

/*
 * Classes
*/

.no-flow{
  overflow: hidden;
}

.section {
  padding: 2em 0;
}

.space {
  padding: .5em;
}

.fx {
  display: flex;
  align-items: center;
}

.fx-grow {
  flex-grow:1;
  flex-shrink: 1;
}

/* navbar */
.navbar{
  background-color: white;
}

.navlogo {
  margin: 0 auto;
  font-family: Knewave;
  font-size: 2em;
  background-image: -webkit-linear-gradient(to right, rgb(0,0,255), rgb(255,0,0));
  background-image: linear-gradient(to right, rgb(0,0,255), rgb(255,0,0));
  background-repeat: repeat;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  padding: 1em;
}

.nav-links{
  display: flex;
  flex: 1 0;
}

.nav-links > .nav-link{
  flex: 1 1 auto;
}

.nav-bars {
  display: none;
  font-size: 2em;
  padding-left: .3em;
}

.logo-content{
  font-size: inherit;
}

#overlay{
  display:none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000070;
  z-index: 9;
}


@media screen and (max-width: 972px){
  .section{
    padding-top:15px;
    padding-bottom:15px;
  }

  .navbar{
    font-size: 16px
  }

  .show{
    display: block !important;
  }

  .nav-bars{
    display: block;
  }

  .nav-links{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 30%;
    min-width: 250px;
    background-color: #f5f5f5;
    z-index: 10;
    border-right: 1px solid #bdbdbd;
  }

  .nav-links > .nav-link{
    border-left:5px solid transparent;
    border-bottom: 2px solid #e0e0e0;
  }
  .nav-links > .nav-link:hover{
    background-color: #eeeeee;
    border-color:#45d2e8;
  }
  .nav-links a{
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
